<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestiondecompte">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionDeCompte"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.EditionCompteActivity"></activity>
        <activity android:name=".view.CompteActivity" />
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="com.example.gestiondecompte.view.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>